.container {
  overflow: hidden;
  width: 70%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media (max-width: 1200px) {
    width: 100%;
    height: 60vh;
  }
}

.swiper-container {
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.slide-full-image {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
