.active {
  width: 100%;
  height: 40px;
  border: 3px double #000;
  border-radius: 100%;
  margin: 1rem;
  margin: auto;
  transition: 0.5s;
}
.nav-link {
  display: flex;
  text-align: center;
}
.nav-link li {
  margin: auto;
  margin: 1rem;
}
.nav-link li:hover {
  color: #0e5ddd;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
a:visited {
  color: #444;
}
