.userMenu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 800px) {
  .userMenu {
    display: block;
  }
}
.iconButton {
  background-color: transparent;
  border: none;
  /* cursor: pointer; */
  padding: 0;
}

.userMenu,
.iconButton,
.iconButton img {
  width: 30px;
  height: 30px;
}

ul.popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  padding-top: 10%;
  list-style: none;
  width: 100%;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.mobile li {
  text-align: center;
  font-size: 2.5rem;
  margin: auto;
  margin-top: 20px;
}
.mobile li:hover {
  color: #0e5ddd;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  transition: 0.5s;
}

/* ul.popup li {
  padding: 15px 19px;
  font-family: var(--noto-sans);
}

ul.popup li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

ul.popup li.disabled {
  background-color: #fff;
  color: #c4c4c4;
  user-select: none;
  cursor: default;
}

.userMenu ul.popup a:hover {
  text-decoration: none;
} */
